.CommitteeMember {
  width: 250px;
  flex: 1 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CommitteeMember-photo {
  width: 250px;
  height: 250px;
  border-radius: 200px;
  border: 5px solid white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  object-fit: cover;
  transition: box-shadow 100ms;
}

.CommitteeMember-photo:hover {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.CommitteeMember-role {
  font-weight: normal;
  margin: 15px 0px 0px 0px;
}

.CommitteeMember-name {
  font-weight: normal;
  margin: 7.5px;
}

.CommitteeMember-info {
  margin: 7.5px;
}

.Committee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
