.Footer {
  background-color: #243852;
  width: 100%;
  height: auto;
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.Footer-segment {
  margin-left: 15px;
}

.Footer-sitelinks {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.Footer-sitelinks > li > a {
  font-size: 18px;
}

.Footer-sociallinks {
  position: absolute;
  right: 15px;
  bottom: 0;
}

.Footer-sociallinks > a {
  color: white;
}

.Footer-sociallinks > a > .Icon {
  width: 40px;
  height: 40px;
  transition: transform 200ms;
}

.Footer-sociallinks > a:hover > .Icon {
  transform: scale(1.10);
}

.Footer-copyright {
  text-align: center;
  margin-top: 30px;
}

.Footer-copyright p {
  margin: 0;
  font-size: 13px;
}

.Footer-content {
  position: relative;
  display: flex;
  flex-direction: row;
}

.Footer-logo {
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin-right: 40px;
  margin-top: 15px;
}

.Footer-logo img {
  height: 122px;
  margin-top: -1px;
  margin-left: -1px;
}

@media screen and (max-width: 640px) {
  .Footer-logo {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .Footer-content {
    flex-direction: column-reverse;
  }

  .Footer-sociallinks {
    top: 15px;
  }
}
