body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #243852;
  color: white;
}

html, body {
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

h1 {
  text-transform: uppercase;
}

a {
  color: #1da1f2;
  text-decoration: none;
  transition: color 100ms;
  cursor: pointer;
}

a:visited {
  color: #1da1f2;
}

a:hover {
  color: #31a9f3;
}

a .Icon {
  height: 20px;
  margin-right: 8px;
  margin-bottom: -3px;
}

p, a {
  font-size: 17px;
}
