body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DDD;
}

a {
  color: #1da1f2;
  text-decoration: none;
  transition: color 100ms;
  cursor: pointer;
}

a::visited {
  color: #1da1f2;
}

a:hover {
  color: #31a9f3;
}

a .Icon {
  height: 20px;
  margin-right: 4px;
  margin-bottom: -4px;
}
