.Navbar {
  background-color: #232425;
  position: fixed;
  width: 100%;
  height: 95px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  z-index: 100;
}

.Navbar-spacer {
  height: 95px;
}

.Navbar-homelink {
  position: fixed;
  top: 0;
  left: 75px;
  z-index: 101;
}

.Navbar-logo {
  height: 160px;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.3));
}

.Navbar-links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  justify-content: center;
}

.Navbar-links > li {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: auto;
}

.Navbar-links > li > a {
  color: white;
  font-size: 18px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 55px 20px 0px 20px;
  transition: background-color 150ms, border-bottom 150ms;
}

.Navbar-links > li > a:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-bottom: 5px solid white;
}

.Navbar-burger {
  visibility: hidden;
  color: white;
  position: absolute;
  height: 48px;
  width: 48px;
  top: 12px;
  right: 12px;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 10px;
  transition: background-color 100ms;
}

.Navbar-burger .Icon {
  width: 40px;
  height: 40px;
}

.Navbar-burger:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
}

.Navbar-blockout {
  visibility: hidden;
}

@media screen and (max-width: 1530px) {
  .Navbar {
    height: 165px;
  }

  .Navbar-spacer {
    height: 165px;
  }

  .Navbar-links > li > a {
    padding-top: 125px;
  }

  .Navbar-homelink {
    overflow: hidden;
    width: 90px;
    height: 90px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }

  .Navbar-logo {
    height: 90px;
    filter: none;
  }

  .Navbar-blockout {
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 105px;
    background-color: #243852;
    display: block;
    z-index: 101;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  }
}

@media screen and (max-width: 840px) {
  .Navbar {
    height: 70px;
    display: flex;
    flex-direction: column;
    background-color: #243852;
  }

  .Navbar-spacer {
    height: 70px;
  }

  .Navbar-homelink {
    width: 70px;
    height: 70px;
    left: 50%;
    top: 2px;
    transform: translateX(-50%);
  }

  .Navbar-logo {
    height: 70px;
    filter: none;
  }

  .Navbar-links {
    background-color: #232425;
    margin-left: -15px;
    margin-right: -15px;
    width: 100%;
    height: auto;
    max-height: 0px;
    position: absolute;
    display: block;
    top: 70px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
    overflow-y: auto;
    transition: max-height 350ms;
    pointer-events: none;
  }

  .Navbar-links.Enabled {
    max-height: calc(100vh - 70px);
    pointer-events: all;
  }

  .Navbar-links > li {
    display: block;
    height: 70px;
  }

  .Navbar-links > li:hover {
    display: block;
    height: 70px;
  }

  .Navbar-links > li > a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0px;
    padding-left: 15px;
    padding-top: 25px;
  }

  .Navbar-links > li > a:hover {
    border: none;
  }

  .Navbar-burger {
    visibility: visible;
  }

  .Navbar-blockout {
    visibility: hidden;
  }
}
